<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"> <%= link_to "AKA 000", root_path %></a>
        <%= link_to "Manifiesto", root_path, class:"nav-link disabled" %>
        <%= link_to "Posts", posts_path, class:"nav-link" %>
    
        <%= link_to "Galería", root_path, class:"nav-link disabled" %>
            
        <%= link_to "Comunidad", root_path, class:"nav-link disabled" %>
        <strong>|</strong> 
            <% if signed_in? %>

                <strong> <%= current_user.first_name %> </strong>
            
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
            
            <% else %>
                
                <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-secondary" %>
            
            
                <%= link_to "Log In", new_user_session_path, class:"btn btn-primary" %>
            
            <% end %>
    </div>
</nav>