<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">

        <%= link_to "AKA 000", root_path, class:"nav-link" %>

        <%= link_to "Manifiesto", root_path, class:"nav-link disabled" %>

        <%= link_to "Posts", posts_path, class:"nav-link" %>
    
        <%= link_to "Galería", root_path, class:"nav-link disabled" %>
            
        <%= link_to "Comunidad", root_path, class:"nav-link disabled" %>
        <strong>|</strong> 
            <% if signed_in? %>

                <%= link_to current_user.first_name, users_edit_path, class:"btn btn-sm btn-primary" %>

                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-sm btn-danger" %>

            <% else %>
                
                <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-secondary" %>
            
            
                <%= link_to "Log In", new_user_session_path, class:"btn btn-primary" %>
            
            <% end %>
    </div>
</nav>