<div class="container-sm">
    <h1 class="margin-top text-center"> Your Profile</h1>

    <%= form_with(model: current_user) do |f| %> 
        <div class="mb-3">
            <%= f.label :first_name, class:"form-label fs-4" %><br />
            <%= f.text_field :first_name, autofocus: true,  class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= f.label :last_name, class:"form-label fs-4" %><br />
            <%= f.text_field :last_name, autofocus: true,  class:"form-control" %>
        </div>
        <div class="mb-3">
            <%= f.label :avatar, class:"form-label fs-4 " %><br />
            <%= f.file_field :avatar,  class:"form-control", type:"file", id: "formFile"%>
        </div>
        <div class="mb-3 text-center    ">
            <% if current_user.avatar.attached? %>
                <%= image_tag url_for(current_user.avatar), height:200 %>
            <% end %>
        </div>

        <div class="actions">
            <%= f.submit "Update Profile", class:"btn btn-primary" %>
        </div>

        
    
    <%end %>

</div>