<div id="<%= dom_id post %>">
  <p>
    <h3> <%= post.title %>  </h3> 
    <%if user_signed_in? && (current_user.is_admin? || current_user.is_editor?) %>
        <%if post.state == "published" %>
          <p style="color:orange"> <%= post.state %>  </p> 
        <%else %>
          <p style="color:blue"> <%= post.state %>  </p> 
        <% end %>
    <%end %>
  </p>
  
  <strong>
    written by: <%= post.user.first_name %> <%= post.user.last_name %> | <%= post.user.email %>
  </strong>

  <p class="fst-italic">
      <%= post.description %>
  </p>

</div>
